<!-- Welcome message -->
<div class="row">
  <div class="welcome">
    <h1>Plan your day</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem libero
      fugit reiciendis, 
    </p>
  </div>
</div>

<div class="container">
    <div class="row">
      <span class="title lead pad-left-right">To do</span>
    </div>

    <div class="row">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="input-group pull-left pad-left-right col-xs-7">
          <input
            class="form-control w-75 mb-2 mt-2"
            type="text"
            placeholder="Write task"
            #searchBox
            ngModel
            name="userInput"
          />
          <!-- (keyup)="search(searchBox.value)" -->
          <div
            class="glyphicon glyphicon-search input-group-addon"
          ></div>
          <!--  (click)="search(searchBox.value)" -->
        </div>
        <button class="btn btn-primary" type="submit">Add Task</button>
      </form>
    </div>

    <hr>
    <div class="row">
        <div class="offset-1 col-10">
          <app-task-item
          *ngFor="let task of tasks; let i = index"
          [task]="task"
          [index]="i"
        ></app-task-item>
        </div>
        <div class="col-4">
          
        </div>
    </div>
</div>

  